.app {
    background: linear-gradient(30deg, #204b62 30%, #27526a 30%, #457a99 80%) ;
    text-align: center;
}
.weatherBody{
    margin-left: calc(10%);
    width: 80%;
    padding: 20px;
    border: 5px solid #608094;
    border-radius: 30px;
    background-color: #16394c;
    color: #ffffff;
    text-align: center;
    position: relative;
}
.icon {
    width: 200px;
}